<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malariaearlywarningsystemmews">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MalariaEarlyWarningSystemMEWS">
        <activity android:name=".login.FacebookSignIn" />
        <activity android:name=".login.GoogleSignIn" />
        <activity android:name=".ikindicators.Select_IK_Indicator" />
        <activity android:name=".extremeevents.View_Extreme_Events" />
        <activity android:name=".extremeevents.Report_Extreme_Events" />
        <activity android:name=".ikindicators.View_IK_Indicators" />
        <activity android:name=".ikindicators.Report_IK_Indicators" />
        <activity android:name=".resetpassword.ResetPassword" />
        <activity android:name=".register.Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.example.android.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->

            <provider android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.here.this.library.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>